:root {
	--c-bg: #fff;
	--c-scrollbar: #eee;
	--c-scrollbar-hover: #bbb;

	--fg-shallow: #828181;
	--fg: #555;
	--fg-deep: #222;
	--fg-deeper: #000;

	---border-color: #d0d7de;
}

html {
	background-color: var(--c-bg);
	color: var(--fg);
}

html.dark {
	--c-bg: #050505;
	--c-scrollbar: #111;
	--c-scrollbar-hover: #222;

	--fg-shallow: #7A7C80;
	--fg: #bbb;
	--fg-deep: #ddd;
	--fg-deeper: #fff;

	---border-color: #30363d;
}

* {
	transition: all 0.2s ease-in-out;
}

a {}

a:hover {
	opacity: 0.8;
}

.category-title {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 12px;
}